html{
    font-size: 10px;
}
body{
    margin: 0;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Roboto'
}
header{
    height: 3rem;
}
nav{
    position: relative;
}
.navigation__wrapper{
    position: fixed;
    padding: 1rem 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 20px);
}
article{
    margin: -1.5rem 0;
}
.introduction__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
#introduction button{
    height: 3.5rem;
    width: 15rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background-color: #503bff;
    border: 1px solid #503bff;
}
#how-it-works, #pricing, #about-us{
    text-align: center;
}
.about-us__members{
    overflow-x: scroll;
}
.about-us__members__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
}
.pricing__categories div{
    height: 25rem;
    /* border: 1px solid; */
    margin: 1.5rem 5rem;
    padding: 1rem;
}
img{
    height: 5rem;
    width: 5em;
}
