html{font-size: 10px;}
header{height: 3rem;}
nav{position: relative;}
body{
    font-size: 1.4rem; 
    font-family: 'Open Sans', 'sans-serif';
    margin: 0;
    padding: 0 .5rem;
    position: relative;
}
.navigation__wrapper{
    position: fixed;
    padding: 1rem 0;
    top: 0;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: flex-end;
    background: white;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 255, 0.1);
    z-index: 3;
}
.navigation__wrapper div{
    margin: 0 1rem;
}
.navigation__wrapper div a{
    color: #6a5acd;
    text-decoration: none;
}
.sub-nav__wrapper{
    margin: 1rem 0;
    height: 6rem;
    background: rgba(0, 0, 255, 0.82);
    border: 1px solid rgba(0,0,255,0.82);
    color: white;
    border-radius: .2rem;
    overflow-x: scroll;
    box-shadow: 5px 5px 2px -5px rgba(0,0,255,0.82);
}
.sub-nav__wrapper div{
    cursor: pointer;
}
.sub-nav p{
    margin: 0;
}
.sub-nav__body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50rem;
    height: 100%;
}
.order-history{
    border: 1px solid rgba(0, 0, 255, 0.1);
    border-radius: .2rem;
    padding: 1rem;
}
.order-history__header{
    font-size: 1.5rem;
    letter-spacing: .5px;
    padding: .25rem 0;
}
.history-wrap{
    border: 1px solid rgba(0, 0, 255, 0.1);
    border-radius: .2rem;
    box-shadow: 5px 5px 10px -10px rgba(0, 0, 255, 0.1);
    margin: .5rem 0;
}
.details{
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 .5rem;
    border-bottom: 1px solid rgba(0, 0, 255, 0.1);
}
.details p:nth-of-type(1){
    color: #6a5acd;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: .5px;
}
.navigation__wrapper div{
    margin: 0 1rem;
}
.navigation__wrapper div a{
    color: #6a5acd;
    text-decoration: none;
}
@media only screen and (min-device-width: 600px){
    .sub-nav__body{
        width: 100%;
    }
    .body{
        padding: 2rem 10%;
    }
}
@media only screen and (min-device-width: 900px){
    .body{
        padding: 2rem 20%;
    }
}