<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send-IT || Order Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/user-order-details.css">
</head>

<body>
    <header>
        <nav>
            <div class="navigation__wrapper">
                <div><a href="../index.html">Log Out</a></div>
            </div>
        </nav>
    </header>
    <div class="sub-nav">
        <div class="sub-nav__wrapper">
            <div class="sub-nav__body">
                <div>
                    <p>All Orders</p>
                </div>
                <div>
                    <p>Deleted Orders</p>
                </div>
                <div>
                    <p>Canceled Orders</p>
                </div>
                <div>
                    <p>Pending Orders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="order-history">
            <div id="all-order">
                <div class="order-history__header">
                    <p>All order</p>
                </div>
                <div class="order-history__wrapper">
                    <div class="order-history__content">
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban uoe</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban
                                    uoehjbkjl;kl';l;lkl</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <!-- <div class="order-history__body">
                            
                                                    </div> -->
                    </div>
                    <div class="reade-more"></div>
                </div>
            </div>
            <div id="canceled-order">
                <div class="order-history__header">
                    <p>Canceled Order</p>
                </div>
                <div class="order-history__wrapper">
                    <div class="order-history__content">
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban uoe</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban
                                    uoehjbkjl;kl';l;lkl</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <!-- <div class="order-history__body">
                            
                                                    </div> -->
                    </div>
                    <div class="reade-more"></div>
                </div>
            </div>
            <div id="delivered-order">
                <div class="order-history__header">
                    <p>Delivered Order</p>
                </div>
                <div class="order-history__wrapper">
                    <div class="order-history__content">
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban uoe</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban
                                    uoehjbkjl;kl';l;lkl</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <!-- <div class="order-history__body">
                            
                                                    </div> -->
                    </div>
                    <div class="reade-more"></div>
                </div>
            </div>
            <div id="pending-order">
                <div class="order-history__header">
                    <p>Pending Order</p>
                </div>
                <div class="order-history__wrapper">
                    <div class="order-history__content">
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban uoe</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <div class="history-wrap">
                            <div class="order-history__order-date details">
                                <p>Order date</p>
                                <p id="date-of-order">13th February</p>
                            </div>
                            <div class="order-history__order-id details">
                                <p>Order ID</p>
                                <p id="id_for_order_history">LO768HB</p>
                            </div>
                            <div class="order-history__order-price-and-status details">
                                <p>Order Price</p>
                                <p id="order_history_order-price">₦1500</p>
                            </div>
                            <div class="order-history__order-location details">
                                <p>Order Location</p>
                                <p id="order-history__order-location">Yaba Angelica Ladugbe Ilkihdn nigban
                                    uoehjbkjl;kl';l;lkl</p>
                            </div>
                            <div class="order-history__order-status details">
                                <p>Order Status</p>
                                <p id="order-history__order-status">In transit</p>
                            </div>
                        </div>
                        <!-- <div class="order-history__body">
                            
                                                    </div> -->
                    </div>
                    <div class="reade-more"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>